{
  "type": "service_account",
  "project_id": "{{ .Env.google_json_project_id }}",
  "private_key_id": "{{ .Env.google_json_private_key_id }}",
  "private_key": "{{ .Env.google_json_private_key }}",
  "client_email": "{{ .Env.google_json_client_email }}",
  "client_id": "{{ .Env.google_json_client_id }}",
  "auth_uri": "{{ .Env.google_json_auth_uri }}",
  "token_uri": "{{ .Env.google_json_token_uri }}",
  "auth_provider_x509_cert_url": "{{ .Env.google_json_auth_provider_x509_cert_url }}",
  "client_x509_cert_url": "{{ .Env.google_json_client_x509_cert_url }}"
}

